[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-html = "==0.9"
django = "~=2.2"
python-decouple = "*"
dj-database-url = "*"
unipath = "*"
pytz = "*"
requests = "*"
youtube-dl = "*"
dateparser = "*"

[dev-packages]
ipython = "*"
pytest = "*"

[requires]
python_version = "3.6"
