[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-html = "*"
django = "~=2.0"
python-decouple = "*"
dj-database-url = "*"
unipath = "*"
pytz = "*"

[dev-packages]
ipython = "*"
pytest = "*"

[requires]
python_version = "3.6"
